.border {
  border-width: var(--border);
}

.lucide {
  width: 18px;
  height: 18px;
}

.icon-sm {
    width: 14px;
    height: 14px;
}

.icon-lg {
    width: 24px;
    height: 24px;
}

.icon-xl {
    width: 32px;
    height: 32px;
}